{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-5">
    <h1>Carrito de Compras</h1>

    {% if items|length > 0 %}
        <div class="row">
            <div class="col-md-8">
                {% for item in items %}
                    {% include '_partials/_cart_item.html.twig' with {item: item} %}
                {% endfor %}
            </div>

            <div class="col-md-4">
                {% include '_partials/_cart_summary.html.twig' %}
            </div>
        </div>
    {% else %}
        <div class="alert alert-info">
            Tu carrito está vacío.
        </div>
    {% endif %}
</div>

<script src="/js/modules/cart.js"></script>
{% endblock %}
