# Archivos Git
.git
.gitignore

# Variables de entorno locales
.env.local
.env.*.local

# Caché y logs de Symfony
var/cache/*
var/log/*

# Dependencias (se instalarán en build)
vendor/
node_modules/

# Archivos de desarrollo
.idea/
.vscode/
*.swp
*.swo
*~

# Archivos de sistema
.DS_Store
Thumbs.db