@import "./variables.css"; /* [cite: public/css/variables.css] */
@import "./theme.css";     /* [cite: public/css/theme.css] */
@import "./navbar.css";    /* [cite: public/css/navbar.css] */
@import "./footer.css";    /* [cite: public/css/footer.css] */
@import "./home.css";      /* [cite: public/css/home.css] */
@import "./detail.css";    /* [cite: public/css/detail.css] */