# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy PHP app to Azure Web App - tkoh-bookstore-shop

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    env:
      APP_ENV: ${{ secrets.APP_ENV }}
      APP_SECRET: ${{ secrets.APP_SECRET }}
      DEFAULT_URI: ${{ secrets.DEFAULT_URI }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Check if composer.json exists
        id: check_files
        uses: andstor/file-existence-action@v1
        with:
          files: 'composer.json'

      - name: Install PHP dependencies for production
        if: steps.check_files.outputs.files_exists == 'true'
        run: composer install --no-dev --optimize-autoloader --no-interaction --prefer-dist --no-scripts
      - name: Generate .env.local.php for production
        run: |
          echo "<?php return ['APP_ENV' => 'prod', 'APP_SECRET' => '${{ secrets.APP_SECRET }}'];" > .env.local.php
      - name: Install Node dependencies and build assets
        run: |
          npm ci
          npm run build
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: php-app
          path: .
